.carousel-item img {
  height: 500px; /* Ajusta la altura según sea necesario */
  object-fit: cover;
}

/* Animaciones para el carrusel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  transition: transform 0.5s ease-in-out;
}

.carousel-item-next {
  animation: slideInNext 0.5s ease-in-out;
}

.carousel-item-prev {
  animation: slideInPrev 0.5s ease-in-out;
}

@keyframes slideInNext {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInPrev {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los íconos de control */
  border-radius: 50%; /* Bordes redondeados para los botones de control */
}

/* styles.css */

/* Estilo para el callout */
.callout {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  left: 50%;
  border-left-color: rgb(0, 255, 13);
}

/* Estilo para la cinta */
.ribbon {
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem;
  background: #8ec648;
  color: rgb(0, 0, 0);
  border-radius: 0.25rem;
  margin-top: -1rem; /* Mueve la cinta hacia arriba para que esté debajo del callout */
  border-width: 0 1rem 1rem 1rem;
 
}

/* styles.css */

/* Asegúrate de que la imagen sea completamente responsiva */
.card-img-top {
  width: 100%;
  height: auto;
}

